html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right top, #00ffbf, #00e5ff);
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payment {
    width: 500px;
    height: 100%;
    background-color: #fff;
    padding: 60px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.link a {
    font-weight: 500;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.link .thisPage {
    color: #03c7dd;
}

.link .thisPage::before {
    content: '\2192';
    margin: 5px;
    vertical-align: 1px;
    font-size: 24px;
}


.payment h1 {
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0 30px 0;
}

.AddPeymentMethod, .new__card {
    display: flex;
    margin: 30px 0;
    padding: 30px;
    align-items: center;
    border-radius: 10px;
    outline: 3px solid #cacaca;
    cursor: pointer;
    transition: all 0.5s ease;
}

.AddPeymentMethod img {
    width: 30px;
    height: 100%;
    margin: 0 30px 0 0;
}

.AddPeymentMethod p {
    font-size: 14px;
    font-weight: 500;
}

.AddPeymentMethod:hover, .new__card:hover {
    outline: 3px solid #03c7dd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.btn {
    background-color: #56eeff;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #a0ffe7;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.popup__content {
    margin: 10% auto;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.close {
    color: #676767;
    float: right;
    margin-right: 10px;
    font-size: 36px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card__image {
    width: 100%;
    height: 330px;
    background-color: #d5feff;
    border-radius: 20px 20px 0 0;
    padding: 50px;
}

.card {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #00e5ff, #00ffbf);
}

.card__info {
    height: 300px;
    width: 100%;
    padding: 35px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}

.form__row {
    display: flex;
}

.first-form {
    width: 80%;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.section__btn {
    display: flex;
}

.btn-card {
    margin: 10px 30px 0 0;
    height: 65px;
}

.btn-card:last-child {
    margin-right: 0;
}

.btn__cancel {
    background-color: #fff;
    color: #03c7dd;
}

.btn__cancel:hover {
    background-color: #fff;
}

/* new card */
.new__card {
   display: none;
}

.images__card {
    width: 30px;
    height: 100%;
    margin: 0 30px 0 0;
}

.row {
    margin: 20px 0;
    display: flex;
    text-align: center;
    align-items: center;
}

.expiries__card {
    margin: 0 20px;
}